<div>
  <% @comments.each do |c| %>
      <% @users.each do |u| %>
        <% if(u.id == c.user_id) %>
        <p class="username">
          <%= u.first_name %>
        </p>
        <% end %>
      <% end %>
    <p class="post">
    <%= c.text %>
    </p>
    <br>
  <% end %>
</div>

<div class="form">
  <%= form_for(@comment) do |c| %>
  <%= c.text_area :text, :placeholder => 'Write Comment Here' %>
  <%= c.submit "Submit Comment" %>
  <% end %>
</div>
